.body{
	margin:0;
	padding:0;
}
/*header starts*/
.header{
	background-color:#FFFFFF;
	margin:12px 0;
}
.wrapper{
	width: 90%;
	margin:0 8px;
	overflow:hidden;
	}
.logo{
	width:27%;
	float:left;
}
.logo img{
	width:100%;
}
.menu{
	width:70%;
	float:right;
	margin-top:15px;
	
}
.menu ul{
	float:right;
	}
.menu ul li{
	float:left;
	list-style:none;
	
}
.menu ul li a{
	text-decoration:none;
	font-family:sans-serif;
	font-weight:700;
	font-size:17px;
	color:#4C586C;
	text-transform:uppercase;
	padding:0 28px;
	display:inline-block;
	transition:0.3s;

}

.menu ul li:last-child a {
	padding-right:0;
}
.menu ul li a:hover {
  color: #0779b8;}

/*header ends*/

/*==========
=============
banner starts*/
.banner{
	background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;

}
.banner_content{
	background-color: #000000a6;
	width: 16%;
    padding: 30px;
	margin-top: 60px;
	margin-bottom: 160px;
}
.banner_content h1{
	color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.7;
    margin: 0;

}
.banner_content p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffffc9;
    line-height: 1.7;
    margin: 0;
}
.banner_content button{
	color: #ffffffbd;
    background: #00000094;
    border: 0;
    padding: 8px 15px;
    border-radius: 4px;
    margin-top: 20px;
    transition: .4s;
    cursor: pointer;
}
.banner_content button:hover{
      color: #60a5f8;
  }

  /*  Villas Section Starts */
  .vill_section{
    padding: 40px 0px;
  }
  .villa_wrapper{
    width: 85%;
    margin: auto;
    overflow: hidden;
  }

  .single_villa {
    text-align: center;
    width: 30%;
    float: left;
    padding: 10px 2% 10px;
  }

  .single_villa:last-child{
    padding-right: 0;
  }

  .single_villa h2{
    font-weight: 400;
    font-size: 24px;
    color: #777777;
  }
  .single_villa img{
    width: 100%;
  }
  .single_villa p{
    color: #777777;
  }
  .single_villa button{
    color: #fff;
    background-color: #435C7A;
    margin-top: 20px;
    padding: 5px 15px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
  }
  .single_villa button:hover{
      background-color: #60a5f8;
  }

/* Footer Section Starts */
 
  .about{
    width: 40%;
    margin:0 auto 20px;
    text-align: center;
  }

  .about p{
    font-size: 14px;
    color: #777;
    margin: 0;
  }
  .about img{
    margin-top: 15px;
  }

  /* Footer Section Ends */

